# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# IDE
.classpath
.project
.settings/
*.swp
*.swo

# Mac OS
.DS_Store
/target/
target/
.m2/

# Artefactos de build/reportes (todos los TPs)
**/target/
**/jacoco.exec
**/*.class
**/.m2/

# IDE / editor
**/.idea/
**/.vscode/
**/*.iml

# Evita subir metadatos de repositorio embebido
tp4/assignmnet-4-rodeghiero/.git
tp4/assignmnet-4-rodeghiero/.git/**
tp5/assignment-5-rodeghiero/.git
tp5/assignment-5-rodeghiero/.git/**

# Archivos locales de apoyo (no parte de la entrega)
Introduction-to-Software-Testing-3.pdf
Introduction-to-Software-Testing-3.txt
solucion_practico5_ej1.md
tp1/resumen-teorico-testing-tp1.pdf
tp1/resumen-teorico-testing-tp1.tex
tp1/resolucion_practico1.tex
tp2/resumen_teorico_tp2.pdf
tp2/resumen_teorico_tp2.tex
tp2/resolucion_practico2.tex
tp3/resumen_teorico_practico3.pdf
tp3/resumen_teorico_practico3.tex
tp3/resolucion_practico3.tex
tp4/resumen_teorico_practico4.pdf
tp4/resumen_teorico_practico4.tex
tp4/resolucion_practico4.tex
tp5/resumen_teorico_practico5.pdf
tp5/resumen_teorico_practico5.tex
tp5/resolucion_practico5.tex
tp6/resumen_teorico_practico6.pdf
tp6/resumen_teorico_practico6.tex
tp6/resolucion_practico6.tex
tp7/resumen_teorico_practico7.pdf
tp7/resumen_teorico_practico7.tex
tp7/resolucion_practico7.tex
tp8/resumen_teorico_practico8.pdf
tp8/resumen_teorico_practico8.tex
tp8/resolucion_practico8.tex

# Docusaurus / Node (todo dentro de web/)
web/node_modules/
web/build/
web/.docusaurus/
web/docs/
web/static/pdfs/
tp9/resolucion_practico9.tex
